<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>

<body>
    <form id="loginForm">
        <label>
            用户名:
            <input type="text" placeholder="请输入用户名" name="username">
        </label>
        <label>
            密码:
            <input type="password" placeholder="请设置密码" name="password">
        </label>
        <button type="submit">登录</button>
    </form>
    <form id="regForm">
        <label>
            用户名:
            <input type="text" placeholder="请输入用户名" name="username">
        </label>
        <label>
            密码:
            <input type="password" placeholder="请设置密码" name="password">
        </label>
        <button type="submit">add</button>
    </form>
    <script>
        let token;
        document.getElementById("loginForm").addEventListener("submit", function (e) {
            e.preventDefault();

            const data = {
                username: e.target.username.value,
                password: e.target.password.value
            };

            fetch("/v1/user/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            }).then(res => res.json())
                .then(data => {
                    if (data.code === 200) {
                        token = data.data.token;
                        console.log("Login successful", token);

                    } else {
                        console.log("Login failed");
                        alert(data.message);
                    }
                });
        });
        document.getElementById("regForm").addEventListener("submit", function (e) {
            e.preventDefault();

            const data = {
                username: e.target.username.value,
                password: e.target.password.value,
                user_type: false
            };
   

            fetch("/v1/user/add", {
                method: "POST",
                credentials: 'include',
                headers: { "Content-Type": "application/json", "Authorization": token },
                body: JSON.stringify(data)
            }).then(res => res.json())
                .then(data => {
                    if (data.code === 200) {

                        console.log("add successful");

                    } else {
                        console.log("add failed");
                        alert(data.message);
                    }
                });
        });
    </script>
</body>


</html>