<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>测试redis</title>
</head>

<body>
    <form id="submitForm">
        <label>
            key:
            <input type="text" placeholder="请输入key" name="key">
        </label>
        <label>
            value:
            <input type="text" placeholder="请输入value" name="value">
        </label>
        <button type="submit">提交</button>
    </form>
    <form id="queryForm">
        <label>
            key:
            <input type="text" placeholder="请输入key" name="key">
        </label>
        <label>
            value:
            <input type="text" name="value" readonly />
        </label>
        <button type="submit">查询</button>
    </form>
    <script>
        document.getElementById("submitForm").addEventListener("submit", function (e) {
            
            e.preventDefault();  // 阻止默认 GET 提交

            const data = {
                key: e.target.key.value,
                value: e.target.value.value
            };

            fetch("/views/redis/set", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data)
            }).then(res => res.text())
                .then(html => {
                    console.log("ok");
                });
        });
    document.getElementById("queryForm").addEventListener("submit", function (e) {
            
            e.preventDefault();  // 阻止默认 GET 提交

            const key = e.target.key.value;

            fetch(`/views/redis/get/${key}`, {
                method: "GET",
                headers: { "Content-Type": "application/json" }
            }).then(res => res.json())
                .then(data => {
                    e.target.value.value = data.value;
                });
        });
    </script>
</body>

</html>